<!-- components/about.html -->
<section class="about-section" id="acerca">
  <div class="about-image"></div>

  <div class="about-text">
    <h2>
      Acerca de la <br />
      Universidad <br />
      VÓRTICE
    </h2>

    <p>
      Desde su fundación en 1920, la Universidad VÓRTICE Noroeste ha sido,
      durante mucho tiempo, el hogar del pensamiento crítico, la educación
      progresista y de una comunidad consciente.
    </p>

    <p>
      Esta universidad privada sin fines de lucro está comprometida a generar
      un cambio positivo y a construir un mundo solidario para todos.
    </p>

    <a href="#general-info-section" class="read-more">LEER MÁS</a>
  </div>
</section>