<!-- components/general-info.html -->
<section class="section" id="general-info-section">

  <h2>Información general de la universidad</h2>

  <p class="section-subtitle">
    La UEA se enorgullece de los elementos que la componen.
  </p>

  <div class="card-grid">

    <article class="image-card">

      <img
        src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?auto=format&fit=crop&w=800&q=80"
        alt="Perfil de los alumnos"
      />

      <h3>Perfil de los alumnos</h3>

    </article>

    <article class="image-card">

      <img
        src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?auto=format&fit=crop&w=800&q=80"
        alt="Planta docente"
      />

      <h3>Planta docente</h3>

    </article>

    <article class="image-card">

        <img
            src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?auto=format&fit=crop&w=800&q=80"
            alt="Facultades y departamentos"
        />

        <h3>Facultades y departamentos</h3>

    </article>

  </div>

</section>